*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#ffffff,#ffeaf2);
    overflow:hidden;
}


.loader{
    position:fixed;
    inset:0;
    background:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:10;
    animation:hide 3s forwards;
}


.heart{
    font-size:80px;
    color:#e8a7bb;
    animation:pulse 1.5s infinite;
}


.loader p{
    margin-top:20px;
    color:#777;
}


.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    padding:20px;
}


h1{
    font-size:70px;
    color:#333;
}


h1 span{
    color:#d98ca7;
    font-family:cursive;
}


.hero p{
    margin-top:20px;
    font-size:20px;
    color:#666;
}


button{
    margin-top:40px;
    padding:15px 35px;
    border:none;
    border-radius:50px;
    background:#d98ca7;
    color:white;
    font-size:17px;
    cursor:pointer;
    box-shadow:0 10px 30px #e9b8c8;
}


button:hover{
    transform:scale(1.05);
}


@keyframes pulse{

    50%{
        transform:scale(1.2);
    }

}


@keyframes hide{

    100%{
        opacity:0;
        visibility:hidden;
    }

}


@media(max-width:600px){

h1{
    font-size:45px;
}

.hero p{
    font-size:16px;
}

}
